/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #262626;
	background-color: #fff;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
	background-color: #C12026;
	font-family: "Jost", sans-serif;
	color: #f1f1f1;
}

.resume-main {
	background-color: #fefefe;
}

.resume-aside {
	background-color: #f1f1f1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "+";
	font-weight: 800;
	display: inline-block;
	width: 1.2em;
}

.biography-details li::before {
	color: #C12026;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    color: #C12026;
    text-decoration: underline;
}

footer a {
	color: #C12026; /* Makes the link white in the footer */
    text-decoration: none; /* Optional: Removes the underline */
}

footer a:hover {
    color: #A10E21; /* Changes color on hover */
    text-decoration: underline; /* Optional: Adds underline on hover */
}

.headings-sections {
	color: #C12026;
	font-weight: bold;
}